.temp-3d-chart {
  width: 100%;
}

.add_button_3D {
  padding: 10px;
  box-shadow: 0 0 1px black;
  font-size: 20px;
  width: 45px;
  height: 45px;
  margin: 15px;
  @media print {
    display: none;
  }
}