@import '../../lib.scss';


.data-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.data-page-main {
  $columns: (1: 6%, 2: 9.6%, 3: 6%, 4: 9.6%, 5: 6%, 6: 9.6%, 7: 6%, 8: 9.6%, 9: 6%, 10: 9.6%, 11: 6%, 12: 9.6%, 13: 6%);
  @include table($columns);
}

.calculate {
  margin: 3px;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 0 0 1px #0f0f0f;
}

.period {
  border: 0px solid #fff;
  border-bottom: 2px solid #19aa8d;
  border-radius: 5px;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
}


.fild[type="text"]::-webkit-input-placeholder {
  font-weight: lighter;
  color: #bbb;
};
.fild[type="text"]::-moz-placeholder {
  font-weight: lighter;
  color: #bbb;
};

input.fild:focus {
  outline: 0;
  background-color: #f6f6f6;
};

.period-settings {
  * {margin-right: 7px;}
}