@import '../../lib.scss';


.data-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.data-page-main {
  $columns: (1: 6%, 2: 9.6%, 3: 6%, 4: 9.6%, 5: 6%, 6: 9.6%, 7: 6%, 8: 9.6%, 9: 6%, 10: 9.6%, 11: 6%, 12: 9.6%, 13: 6%);
  @include table($columns);
}

.absExtremum {
  $columns: (1: 25%, 2: 25%, 3: 25%, 4: 25%);
  @include table($columns);
  width: 50%;
  margin: 7px;
}

.absMidExtremum {
  $columns: (1: 33%, 2: 33%, 3: 33%);
  @include table($columns);
  width: 50%;
  margin: 7px;
}